/* .home-banner-section {
  height: 80vh;
  width: 100%;
  background-color: rgb(230, 236, 236);
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px 0 64px;
}

.main-div {
  position: relative;
}

.blob-1 {
  position: absolute;
  right: 30%;
  width: 290px;
  height: 290px;
  background: #fcd34d;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.blob-2 {
  position: absolute;
  right: 20%;
  width: 290px;
  height: 290px;
  background: #93c5fd;
  border-radius: 50%;
  mix-blend-mode: multiply;
} */

.banner-img-section img {
  width: 100%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translatey(0px);
  }

  50% {
      transform: translatey(20px);
  }

  100% {
      transform: translatey(0px);
  }
}